:root {
    font-family: 'Alata', sans-serif;

    --light1: #FFFFFF;
    --light3: #8899a6; 

    --dark1: #15202b;
    --dark2: #192734;
    --dark3: #22303c;

    --whiteText: #eaebec;
    --accent: #2ecc71;
    --accentDark:#1f8d4d;
}

html{
    height:100%;
}
body{
    font-family: 'Alata';
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.logoArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #22303c;
    color:#dbd7d7;
    font-size:2.5em;
    padding:10px 20px;
    font-weight: 900;
    border-bottom: solid 2px #1f8d4d;
}
.logoLeft{
    display: flex;
    align-items: center;
    color: #2ecc71;
}
.logoLeft img{
    width: 2.5rem;
    height: 2.5rem;
    padding-right:5px;
}
.logoLeft span{
    color:#eaebec;
}
.theme{
    margin-right:0px;
}
.label{
    background-color: var(--dark1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border-radius: 50px;
    height:40px;
    width: 80px;
    box-sizing: border-box;
    position: relative;
    transform:scale(0.8);
    transition: background-color 0.2s ease-in;
    border: solid 3px var(--accentDark);
    cursor: pointer;
}
.checkbox{
    opacity: 0;
    position: absolute;
}

.sun{
    color: #f7c603;
    transform: scale(1.3);
}
.moon{
    color:rgb(86, 152, 163);
    transform: scale(1.3);
}
.ball{
    position: absolute;
    width:25px;
    height:25px;
    left: 3px;
    background-color: var(--accentDark);
    border:solid 4px var(--dark1);
    border-radius: 50%;
    transition: transform 0.2s linear;
}
/* plus meaning target the node after it */
.checkbox:checked + .label .ball{            
    transform: translate(37px);      
    background-color: var(--accentDark);
    border:solid 4px var(--whiteText);
}
.checkbox:checked + label{
    background-color: var(--whiteText);
}
.content{
    display:flex;
    flex-direction: row;
    height: 100%;
}
.leftPane .material-icons-round{
    margin-right: 5px;
    margin-left:10px;
}
.leftPane{
    background-color: #15202b;
    display: flex;
    flex-direction: column;
    color:#eaebec;
    padding:20px;
    width:250px;
}
.home{
    display: flex;
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
button ,li{
    font-family: 'Alata', sans-serif;
    margin: 3px 0;
    height: 45px;
    padding-top: 20px;
    font-size: 18px;
    color: white;
    background: transparent;
    padding:5px;
    display:flex;
    align-items: center;
    border-radius: 4px;
    border: solid 2px transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.leftPane button:hover{
    background-color: #1a2a38;
    border:solid 2px #1a2a38;
}

.leftPane h2{
    margin-top: 0;
    padding-bottom:5px;
    border-bottom: solid 2px white;
}
.rightPane{
    background-color: #192734;
    display: flex;
    flex-direction: column;
    padding:30px;

    flex:1;
}
.title{
    background-color: var(--accentDark);
    height: 60px;
    padding: 20px;
    font-size:2.5rem;
    color: var(--whiteText);
    border-radius: 3px;
    margin-bottom: 10px;
}
ul{
    padding:0;
    list-style-type:none;
    color:var(--whiteText);
}

.list-todo{
    display: flex;
    flex-direction: column;
}
li{
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    height:auto;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px white;
}
.list-left{
    display: flex;
    flex-direction: row;
}
.checkmark{
    padding-top:3px;
}
ul .material-icons-round{
    transform:scale(0.8);
    margin-right: 8px;
    float: right;
}
.checked{
    position: absolute;
    background: white;
    border-radius: 50%;
    color: var(--accent);
    opacity: 1;
}
.cancel{
    color: red;
    background: white;
    border-radius: 50%;
}
ul p{
    margin:0 5px;
}
.list-right{
    display: flex;
    flex-direction: row;
    margin-left:15px;
    justify-content: space-evenly;
}
.list-right .material-icons-round{
    transform:scale(1.1);
    border-radius: 3px;
    transition: background-color 0.1s ease-in, transform 0.1s ease-in;
}
.list-right .material-icons-round:hover{
    transform:scale(1.15);
    background-color:#253c50;
    
}
/* 
ul input[type="checkbox"]{
    display:none;
}
ul input[type="checkbox"] + label span{
    display:inline-block;
    width:15px;
    height:15px;
    border: solid 2px white;
    background:transparent;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 8px;
}
ul input[type="checkbox"]:checked + label span{
    border-color: var(--accent);
    background-color: var(--accent);
}
ul input[type="checkbox"]:checked + label span::after{
    content: "\2713";
    bottom:105px;
} */


.list-todo button{
    padding-left:45px;
}
.list-todo button:hover, li:hover{
    background-color: var(--dark1);
}