:root {
    font-family: 'Alata', sans-serif;

    --light1: #FFFFFF;
    --light3: #8899a6; 

    --dark1: #15202b;
    --dark2: #192734;
    --dark3: #22303c;

    --whiteText: #eaebec;
    --accent: #2ecc71;
    --accentDark:#1f8d4d;
}

html{
    width: 100%;
    height:100%;
}
body{
    font-family: 'Alata';
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.logoArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #22303c;
    color:#dbd7d7;
    font-size:2.5em;
    padding:10px 20px;
    font-weight: 900;
    border-bottom: solid 2px #1f8d4d;
}
.logoLeft{
    display: flex;
    align-items: center;
    color: #2ecc71;
}
.logoLeft img{
    width: 2.5rem;
    height: 2.5rem;
    padding-right:5px;
}
.logoLeft span{
    color:#eaebec;
}
.theme{
    margin-right:0px;
}
.label{
    background-color: var(--dark1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    border-radius: 50px;
    height:40px;
    width: 80px;
    box-sizing: border-box;
    position: relative;
    transform:scale(0.8);
    transition: background-color 0.2s ease-in;
    border: solid 3px var(--accentDark);
    cursor: pointer;
}
.checkbox{
    opacity: 0;
    position: absolute;
}

.star{
    width:12px;
    position: absolute;
    left:52px;
    bottom:15px;
}
.sun{
    color: #f7c603;
    transform: scale(1.3);
    width:24.7px;
}
.moon{
    color:rgb(86, 152, 163);
    transform: scale(1.3);
}
.ball{
    position: absolute;
    width:25px;
    height:25px;
    left: 3px;
    background-color: var(--accentDark);
    border:solid 4px var(--dark1);
    border-radius: 50%;
    transition: transform 0.2s linear;
}
/* plus meaning target the node after it */
.checkbox:checked + .label .ball{            
    transform: translate(37px);      
    background-color: var(--accentDark);
    border:solid 4px var(--whiteText);
}
.checkbox:checked + label{
    background-color: var(--whiteText);
}

/* css for content below logo */

.content{
    display:flex;
    flex-direction: row;
    flex:1;
}

/* css for .leftPanel */
.leftPanel{
    background-color: #15202b;
    display: flex;
    flex-direction: column;
    color:#eaebec;
    padding:20px;
    width:350px;
}
.leftPanel h2{
    margin-top: 0;
    padding-bottom:5px;
    border-bottom: solid 2px white;
}
.leftPanel .material-icons-round{
    margin-right: 5px;
    margin-left:10px;
}
.leftPanel img{
    width: 27px;
    height: 27px;
    margin-right: 5px;
    margin-left:10px;
}

.home{
    display: flex;
    flex-direction: column;
}
.project{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}


button ,li, form, .tile{
    font-family: 'Alata', sans-serif;
    margin: 3px 0;
    height: auto;
    padding-top: 20px;
    font-size: 18px;
    color: white;
    background: transparent;
    padding:5px;
    display:flex;
    align-items: flex-start;
    border-radius: 4px;
    border: solid 2px transparent;
    box-sizing: border-box;
    cursor: pointer;
}

.leftPanel .tile:hover, 
button:hover,
form:hover{
    background-color: #1a2a38;
}

.projectInfo{
    display: flex;
    flex:1;
}
.number{
    min-width: 10px;
    min-height: 12px;
    padding: 1px 5px;
    margin-left: 12px;

    font-size: 15px;
    background-color: var(--accentDark);
    border-radius: 30px;
    vertical-align: center;
}

.selected{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: solid 2px var(--accent) !important;
    background-color: #1f8d4d5d;
}

.selected:hover{
    background-color: #1f8d4d7a !important;
}
/* css for editProject part */

.editProject{
    display: flex;
    align-items: center;
    margin-left:auto;
    /* without posotion relative in editproject the 
    position absolute in .option will be based on window 
    and not his parent .editProject */
    position: relative;             
}
.editProject.active .option{
    opacity: 1; 
    pointer-events: auto;
    transform: translateY(0);
}
.option{
    pointer-events: none;
    display: flex;
    opacity: 0;
    flex-direction: column;
    background: var(--whiteText);
    bottom:30px;
    z-index: 2;
    border-radius:3px;
    background-color: #273746;
    padding:4px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.4);
    transform: translateY(+10px) ;
    transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
    
    /* read above comment */
    position:absolute;
}
.option > button{
    color:white;
}

.project #projectForm, 
.project #renameForm,
#listForm{
    display:flex;
    align-items:flex-start;
    opacity: 1;
    pointer-events: auto;
    position: relative;
    transition-delay: 1s;
    max-height: 500px;
    transition: max-height 0.8s ease-out, opacity 300ms ease-in-out;
}

.hidden{
    pointer-events: none !important;
    position: absolute !important;
    max-height:0 !important;

    /* do nth but avoid opacity transition when position absolute */
    transition: max-height 1s ease-out !important;    

    opacity: 0 !important;
}

/* .visible{
    pointer-events: auto;
    opacity: 1 !important; 
    position: relative;
    max-height: 500px;
    transition: max-height 1.2s ease-out;
} */
.projectIcon{
    margin-top: 3px;
}

.formInput{
    display:flex;

}
.inputField{
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: content-box;
}
input[type=text]{
    width:100%;
    box-sizing: border-box;
    font-family: 'Alata';
    font-size:17px;
}
.formButtons{
    margin-top:5px;
    display: flex;
    justify-content:center;
    width: 100%;
}
.projectSubmitBtn,
.projectCancelBtn,
.rename-renameBtn,
.rename-cancelBtn,
.listSubmitBtn,
.listCancelBtn{
    font-family:'Alata';
    width:70px;
    margin:5px;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding:5px;
    font-weight: bold;
}
.projectSubmitBtn,
.rename-renameBtn,
.listSubmitBtn{
    background-color: var(--accentDark);
}
.projectCancelBtn,
.rename-cancelBtn,
.listCancelBtn{
    background-color: rgb(190, 4, 4);
}

button:hover, 
input[type="button"]:hover,
input[type="submit"]:hover{
    opacity: 0.9;
}

/* css for right panel */
.rightPanel{
    background-color: #192734;
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    flex:1;
}
.title{
    background-color: var(--accentDark);
    height: 60px;
    padding: 20px;
    font-size:2.5rem;
    color: var(--whiteText);
    border-radius: 3px;
    margin-bottom: 10px;
}
ul{
    padding:0;
    list-style-type:none;
    color:var(--whiteText);
}

.list-todo{
    display: flex;
    flex-direction: column;
}
li{
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px white;
}
.list-left{
    display: flex;
    flex-direction: row;
}

.checkmark{
    padding-top:3px;
    display: block;
}
ul .material-icons-round{
    transform:scale(0.8);
    margin-right: 8px;
    float: right;
}

/* checkmark button */
.unchecked{
    width: 14px;
    height: 14px;
    border: solid 2px white ;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 5px;
    
}
.checked{
    background-image: url("./images/checkmark.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-origin:border-box;
    background-color: white;
    border-color: var(--accent);
}
.lineThrough{
    text-decoration:line-through;
}
.textFade{
    opacity: 0.5;
}

.starOutline{
    width:24px;
}
.important{
    position: absolute;
    color: yellow;
    opacity: 0;
    z-index: 2;
}
.cancel{
    color: red;
    background: white;
    border-radius: 50%;
}
ul p{
    margin:0 5px;
}
.list-right{
    display: flex;
    flex-direction: row;
    margin-left:15px;
    justify-content: space-evenly;
}
.list-right .material-icons-round{
    transform:scale(1.1);
    border-radius: 3px;
    transition: background-color 150ms ease-in-out, transform 150ms ease-in-out;
}
.list-right .material-icons-round:hover{
    transform:scale(1.1);
    background-color:#253c50;
    
}

.list-todo button{
    padding-left:45px;
}
.list-todo button:hover, li:hover{
    background-color: var(--dark1);
}